{template "content","header"}

<div id="Info_banner" class="I_banner08"><!--------------问答搜索------------>
	<div class="QA_search">
    	<ul>
        	<li class="Tit">问答搜索</li>
            <li><input name="" type="text" class="SCH_box" value="请输入关键字" onfocus="if(this.value=='请输入关键字') {this.value='';}this.style.color='#666';" onblur="if(this.value=='') {this.value='请输入关键字';this.style.color='#ccc';}" style="color: rgb(204, 204, 204);">
            <p class="black m_t10">已解决问题：<span class="text_a b">12322</span>个&emsp;待解决问题：<span class="text_a b">223</span>个</p>
            </li>
            <li class="sechBtn"><a href="#">搜索答案</a></li>
            <li class="sechBtn"><a href="#" class="padding_q"><em></em>提问</a></li>
        </ul>
    </div>
</div>
<div class="position">
	<div class="position_main"><a href="#">首页</a> > 整形美容中心</div>
</div>

<div id="QA" class="clearfix">
	<div class="Q_left">
    	<p class="title m_b10">问题分类</p>
        <dl class="Q_classify">
        	<dt><em></em><span class="Q_color01">整形美容</span> / <span class="Q_color02">성형미용센터</span></dt>
            <dd><a href="#">眼部整形</a></dd>
            <dd><a href="#">鼻部整形</a></dd>
            <dd><a href="#">胸部整形</a></dd>
            <dd><a href="#">吸脂瘦身</a></dd>
            <dd><a href="#">紧肤除皱</a></dd>
            <dd><a href="#">颌面部整形</a></dd>
            <dd><a href="#">唇部整形</a></dd>
            <dd><a href="#">耳部整形</a></dd>
            <p class="clear"></p>
        </dl>
        <dl class="Q_classify">
        	<dt><em></em><span class="Q_color01">皮肤美容</span> / <span class="Q_color02">피부 미용</span></dt>
            <dd><a href="#">皮肤美白</a></dd>
            <dd><a href="#">皮肤除皱</a></dd>
            <dd><a href="#">皮肤祛斑</a></dd>
            <dd><a href="#">纹绣纹身</a></dd>
            <dd><a href="#">皮肤脱毛</a></dd>
            <dd><a href="#">祛痘祛痘印</a></dd>
            <dd><a href="#">祛疤</a></dd>
            <dd><a href="#">嫩肤 </a></dd>
            <p class="clear"></p>
        </dl>
        <dl class="Q_classify">
        	<dt><em></em><span class="Q_color01">注射美容</span> / <span class="Q_color02">주사 미용</span></dt>
            <dd><a href="#">注射瘦脸</a></dd>
            <dd><a href="#">注射除皱</a></dd>
            <dd><a href="#">注射塑形</a></dd>
            <dd><a href="#">胶原蛋白抗衰老</a></dd>
            <dd><a href="#">自体脂肪抗衰老</a></dd>
            <dd><a href="#">拜美针</a></dd>
            <p class="clear"></p>
        </dl>
        <dl class="Q_classify">
        	<dt><em></em><span class="Q_color01">口腔美容</span> / <span class="Q_color02">구강 미용</span></dt>
            <dd><a href="#">无损贴面</a></dd>
            <dd><a href="#">隐形矫正</a></dd>
            <dd><a href="#">微创种植</a></dd>
            <dd><a href="#">纳米美白</a></dd>
            <dd><a href="#">烤瓷修复</a></dd>
            <p class="clear"></p>
        </dl>

    </div>
    
    <div class="Q_right">
    	<div class="Q_riBox clearfix">
        	<div class="Q_banner">
            	<div class="Q_bd">
                	<ul>
                    	<li>
                        	<div class="Q_bd_Img"><img src="/Files/Images/tmp/pic35.gif"></div>
                            <div class="Q_bd_qa">
                            	<div class="Q_bd_prQA">
                                    <div class="prQ">：开内眼角手术安全吗?</div>
                                    <div class="l_h20">
                                    <span class="b font_14">&nbsp;A：</span>开眼角是一个简单的小手术，做开眼角手术是很安全...<a href="#" class="text_a">咨询详情</a>
                                    </div>
                            	</div>
                                <p><a href="#">我想问一下，打美白针对身体有害吗？</a></p>
                                <p><a href="#">做完隆鼻手术后该怎么样护理</a></p>
                            </div>
                        </li>
                        <li>
                        	<div class="Q_bd_Img"><img src="/Files/Images/tmp/pic35.gif"></div>
                            <div class="Q_bd_qa">
                            	<div class="Q_bd_prQA">
                                    <div class="prQ">：开内眼角手术安全吗?</div>
                                    <div class="l_h20">
                                    <span class="b font_14">&nbsp;A：</span>开眼角是一个简单的小手术，做开眼角手术是很安全...<a href="#" class="text_a">咨询详情</a>
                                    </div>
                            	</div>
                                <p><a href="#">我想问一下，打美白针对身体有害吗？</a></p>
                                <p><a href="#">做完隆鼻手术后该怎么样护理</a></p>
                            </div>
                        </li>
                        <li>
                        	<div class="Q_bd_Img"><img src="/Files/Images/tmp/pic35.gif"></div>
                            <div class="Q_bd_qa">
                            	<div class="Q_bd_prQA">
                                    <div class="prQ">：开内眼角手术安全吗?</div>
                                    <div class="l_h20">
                                    <span class="b font_14">&nbsp;A：</span>开眼角是一个简单的小手术，做开眼角手术是很安全...<a href="#" class="text_a">咨询详情</a>
                                    </div>
                            	</div>
                                <p><a href="#">我想问一下，打美白针对身体有害吗？</a></p>
                                <p><a href="#">做完隆鼻手术后该怎么样护理</a></p>
                            </div>
                        </li>
                        <li>
                        	<div class="Q_bd_Img"><img src="/Files/Images/tmp/pic35.gif"></div>
                            <div class="Q_bd_qa">
                            	<div class="Q_bd_prQA">
                                    <div class="prQ">：开内眼角手术安全吗?</div>
                                    <div class="l_h20">
                                    <span class="b font_14">&nbsp;A：</span>开眼角是一个简单的小手术，做开眼角手术是很安全...<a href="#" class="text_a">咨询详情</a>
                                    </div>
                            	</div>
                                <p><a href="#">我想问一下，打美白针对身体有害吗？</a></p>
                                <p><a href="#">做完隆鼻手术后该怎么样护理</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="Q_hd">
                	<ul><li>1</li><li>2</li><li>3</li><li>4</li></ul>
                </div>
            </div>
            
            <div class="Q_Contact">
            	<p>美丽热线</p>
                <p class="font_22">027-87866888</p>
                <p class="m_b10">门诊时间 8:00-21:00</p>
                <div class="consultBth"><a href="#">在线咨询</a></div>
            </div>
            
            <div class="Q_list">
            	<ul class="Q_listQaBox" id="In_QaNAV">
                    <li><a href="#">已解决问题</a></li>
                    <li><a href="#">最新问题</a></li>
                    <li><a href="#">待解决问题</a></li>
                </ul>
                <div id="QaBoxlist">
                    	<ul class="Q_list_QaInfo">
                        	<li><a href="#">1我满脸都是雀斑，要多少钱呢</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                        </ul>
                        <ul class="Q_list_QaInfo">
                        	<li><a href="#">2我满脸都是雀斑，要多少钱呢</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                        </ul>
                        <ul class="Q_list_QaInfo">
                        	<li><a href="#">2我满脸都是雀斑，要多少钱呢</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                            <li><a href="#">咨询瘦小腿，筋骨手术，治疗肌肉...</a>2013-09-12</li>
                            <li><a href="#">请问去体毛好多钱，能永久吗？</a>2013-09-12</li>
                            <li><a href="#">开眼角学生价是多少？</a>2013-09-12</li>
                            <li><a href="#">做鼻子假体要多少钱？</a>2013-09-12</li>
                            <li><a href="#">整双眼皮要多少钱</a>2013-09-12</li>
                        </ul>
                    </div>
            </div>
            
            <div class="Q_zj">
            	<p class="title m_b10">问答专家</p>
                <div class="Q_zj_Box clearfix">
                	<div class="Q_ZJ_Avatar"><a href="#"><img src="/Files/Images/tmp/zhuanjia.jpg" width="82" height="98"></a></div>
                    <div class="Q_ZJ_ri">
                    	<p class="m_b10 m_t10"><span><a href="#" class="b font_14">张默默</a></span><span class="black2">(整形美容专家)</span></p>
                        <p>擅长：吸脂减肥 面部整形 脱毛注射美容</p>
                    </div>
                    <div class="Q_zj_btn"><span class="zx_btn left"><a href="#">我要提问</a></span><span class="zx_btn left m_l20"><a href="#"><em></em><span class="zx_p">专家预约</span></a></span></div>
                </div>
                <dl class="Q_tj">
                	<dt>推荐问题</dt>
                    <dd><a href="#">兔唇做得不好、现在能不能重新做好点？</a></dd>
                    <dd><a href="#">我18岁了，胸部都没怎么发育，怎么办</a></dd>
                    <dd><a href="#">脸部祛皱</a></dd>
                    <dd><a href="#">做隆鼻哪种比较好？</a></dd>
                    <dd><a href="#">关于微创改脸型</a></dd>
                </dl>
            </div>
        </div>
        <div class="inside_contact"><div class="inside_contactBth"><a href="#">点击咨询</a></div></div>
        
        <div class="wz_box">
        	<div class="wz_yuedu">
            	<dl class="wz_list">
                	<dt>相关延伸阅读</dt>
                    <dd><a href="#"><em></em>武汉做光子嫩肤需要多少钱呢</a></dd>
                    <dd><a href="#"><em></em>武汉做光子嫩肤会产生依赖性吗</a></dd>
                    <dd><a href="#"><em></em>武汉射频除皱术后有哪些事项需要注意</a></dd>
                    <dd><a href="#"><em></em>武汉做电波拉皮除皱的价格怎么样</a></dd>
                    <dd><a href="#"><em></em>武汉做光子嫩肤需要多少钱呢</a></dd>
                </dl>
            </div>
            <div class="left m_l20">
            	<dl class="wz_list">
                	<dt>热点推荐</dt>
                    <dd><a href="#"><em></em>做双眼皮多少钱</a></dd>
                    <dd><a href="#"><em></em>割双眼皮多久恢复</a></dd>
                    <dd><a href="#"><em></em>做韩式双眼皮医院哪家好?</a></dd>
                    <dd><a href="#"><em></em>压双眼皮是怎么做的</a></dd>
                    <dd><a href="#"><em></em>双眼皮下垂怎么办</a></dd>
                </dl>
           </div>     
        </div>
        
    </div>
</div>

{template "content","footer"}


<link href="/Files/Style/colorbox.css" type="text/css" rel="stylesheet">
<div style="display:none">
	<div class="Qu" id="Qu"><div class="Qu_close"><a href="javascript:$.colorbox.close();"><img src="/Files/Images/fancy_close.png" alt="关闭"/></a></div>
        <div class="Qu_Step">
            <ul>
                <li class="on">1.填写问题</li>
                <li>2.选择分类</li>
                <li>3.详情描述</li>
                <li>4.联系方式</li>
            </ul>
        </div>
        <!------step 1 begin----->
        <div class="mAuto">
            <div class="Qu_inputBox">
            <input type="text" class="Qu_input" value="我们建议你在填写问题前可以先搜索查找你想问的问题" onfocus="if(this.value=='我们建议你在填写问题前可以先搜索查找你想问的问题') {this.value='';}this.style.color='#666';" onblur="if(this.value=='') {this.value='我们建议你在填写问题前可以先搜索查找你想问的问题';this.style.color='#ccc';}" style="color: rgb(204, 204, 204);">
            </div>
            <div class="sechBtn"><a href="#">下一步</a></div>
        </div>
        <!------step 1 over----->
        <!------step 2 begin----->
        <div class="mAuto none">
            <div class="Qu_select">
                <select id="Select1" name="Select1"></select>
                <select id="Select2" name="Select2"></select>
                <select id="Select3" name="Select3"></select>
            </div>
            <div class="sechBtn"><a href="#">下一步</a></div>
        </div>
        <!------step 2 over----->
        <!------step 3 begin----->
        <div class="mAuto none">
            <div class="Qu_textareaBox">
            <textarea name="" cols="" rows="" class="Qu_textarea"></textarea>
            </div>
            <div class="sechBtn"><a href="#">下一步</a></div>
        </div>
        <!------step 3 over----->
        <!------step 4 begin----->
        <div class="mAuto none">
            <div class="Qu_inputBox" style="width:332px; height:42px;">
            <input type="text" class="Qu_input01" value="手机/电子邮箱" onfocus="if(this.value=='手机/电子邮箱') {this.value='';}this.style.color='#666';" onblur="if(this.value=='') {this.value='手机/电子邮箱';this.style.color='#ccc';}" style="color: rgb(204, 204, 204);">
            </div>
            <div class="sechBtn"><a href="#">提交</a></div>
        </div>
        <!------step 4 over----->
        
        <!------提交结果 begin----->
        <div class="mAuto none">
            <p class="txt_center red m_t40 m_b20 font_16 b">
            	恭喜您，问题提交成功
            </p>
            <div class="sechBtn"><a href="#">关闭</a></div>
        </div>
        <!------提交结果 over----->
    </div>
</div>

<script type="text/javascript" src="/Files/Scripts/jquery.colorbox.js"></script>
<script type="text/javascript" src="/Files/Scripts/ask_pulldown.js"></script>
<script type="text/javascript">
$(function(){
	$(".padding_q").colorbox({width:"620px", inline:true, href:"#Qu"});
});

jQuery(".Q_banner").slide({ mainCell:".Q_bd ul",titCell:".Q_hd li",effect:"leftLoop",vis:1,scroll:1,autoPlay:true});
$("#In_QaNAV").tabso({
		cntSelect:"#QaBoxlist",
		tabEvent:"mouseover",
		onStyle :"QAon",
		aniSpeed :500,
		tabStyle:"fade"
	});
	
</script>

</body>
</html>
