@charset "utf-8";

.clearfix:after { clear: both; content: "Nakeu"; display: block; font-size: 0; height: 0; visibility: hidden; }
*html .clearfix { height: 1%; }
*+html .clearfix { height: 1%; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.clearfix { zoom: 1 }
html>body .clearfix { overflow: hidden; }
.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; overflow: hidden; }
.floatbox { overflow: hidden; }
* html .floatbox { display: table; width: 100%; }
#ie_clearing { display: none; }
html * { font-size: 100.01%; }
* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit;}
* html body * { overflow: visible; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
div:target { outline: 0 none; }
select, input, label { vertical-align: middle; }
input,button,select,textarea{ outline:none;} 
textarea{ resize:none; } 
ul, li { list-style-type: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
fieldset, img { border: 0 solid; }
a img { border: none; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
[hidden] {
display:none;
}
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}
h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 133.33%; }
h5 { font-size: 116.67%; }
h6 { font-size: 116.67%; }
p { line-height: 1.5em; }
hr { margin: 0 0 0.5em 0; padding: 0 0 0.5em 0; border: 0; border-bottom: 1px #eee solid; background: transparent; color: #fff; }
a { color: #515151; text-decoration: none;}
a:hover, a:focus { text-decoration: underline; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; text-decoration: none; }
img, figure { margin: 0; }
.flexible { margin-top: 1.5em; max-width: 100%; }
* html .flexible { width: 98%; }
.bordered { margin-top: 1.5em; border: 2px #eee solid; border: 2px rgba(255,255,255,1) solid; -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25); -moz-box-shadow: 0 0 3px rgba(0,0,0,.25); box-shadow: 0 0 3px rgba(0,0,0,.25); }
/*.box { border-radius: 0.3em; border-width: 1px; border-style: solid; border-color: #888; border-color: rgba(0,0,0,.3); -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset; -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset; box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset; color: #444; color: rgba(0,0,0,.8); padding: 1.4286em; margin: 1.5em 0 0 0; }*/
.box > *:first-child { margin-top: 0; }
label { font-family: Tahoma, Geneva, sans-serif; }
.text_overflow { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.opacity { -moz-opacity: 0.65; filter: alpha(opacity=65); opacity: 0.65; }
.empty_div { height: 0px; overflow: hidden; }
.overflow_auto { overflow: auto; }
.b { font-weight: bold; }
.font_11 { font-size: 11px; }
.font_14 { font-size: 14px; }
.font_16 { font-size: 16px; }
.font_18 { font-size: 18px; }
.font_22 { font-size: 22px; }
.font_30 { font-size: 30px; }
.yahei { font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", sans-serif; }
.heiti { font-family: "\9ED1\4F53"; }
.red, .RegMsgErr { color: #FF0000; }
.RegMsgOk { color: #006600; }
.yellow{ color: #FF3;}
.green{ color: #00ba3b;}
.white { color: #fff; }
.black { color: #000; }
.black2 { color: #999; }
.org{ color:#F60;}
.blu{ color:#9093ab;}
.inputface { padding: 4px; border: 1px solid #ccc; vertical-align: middle; font-size: 12px; color: #000; overflow: hidden; }
.solid_line { margin: 1px 0; height: 1px; line-height: 1px; border-bottom: 1px #ccc solid; }
.dashed_line { margin: 1px 0; height: 1px; line-height: 1px; border-bottom: 1px #ccc dashed; }
.relative { position: relative; }
.absolute { position: absolute; }
.left { display: inline; float: left; }
.right { display: inline; float: right; }
.none { display: none; }
.block { display: block; }
.hidden { visibility: hidden; }
.tc { display: block; text-align: center; }
.upp { text-transform: uppercase; }
.mAuto{ margin:0 auto; }
.maxWid1000 { max-width:1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");overflow:hidden; }
.minWid1000 { min-width:1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1000?"1000px":""); }
body { font:13px "微软雅黑"; background:#fff; color:#333;}
.m_b5{ margin-bottom:5px;}
.m_b10{ margin-bottom:10px;}
.m_b15{ margin-bottom:15px;}
.m_b20{ margin-bottom:20px;}
.m_t5{ margin-top:5px;}
.m_t10{ margin-top:10px;}
.m_t15{ margin-top:15px;}
.m_t20{ margin-top:20px;}
.m_t40{ margin-top:40px;}
.m_l5{ margin-left:5px;}
.m_l10{ margin-left:10px;}
.m_l15{ margin-left:15px;}
.m_l20{ margin-left:20px;}
.m_r5{ margin-right:5px;}
.m_r10{ margin-right:10px;}
.m_r15{ margin-right:15px;}
.m_r20{ margin-right:20px;}
.m_r45{ margin-right:45px;}
.txt_center{ text-align:center;}
.txt_right{ text-align:right;}
.l_h20{ line-height:20px;}
.l_h25{ line-height:25px;}
.l_h30{ line-height:30px;}
.clear_p{ line-height:0px;}
.text_a{color:#5e397e}
.text_em{ text-indent:2em;}

#head{width:100%; height:90px; background:#22afa0;}
.main{width:1000px; margin:0 auto;}
.logo a{width:364px; height:49px; margin-top:20px; float:left; background:url(../Images/logo.png) no-repeat; text-indent:-99999em; display:block;}
.nav{float:right; line-height:60px; font-family:“宋体”;}
.nav li{ margin:15px 15px; float:left;}
.nav li a{color:#fff;}
.nav li a:hover{color:#f5f5f5; text-decoration:underline;}
.head-zz{width:100%; height:6px; background:url(../Images/head-projection.png); position:absolute; top:90px;}


.banner{width:100%;}
.banner01{width: 100%; height: 151px; background: url(../images/banner01.jpg) no-repeat center top;}
.banner02{width: 100%; height: 109px; background: url(../images/banner02.jpg) no-repeat center top;}
.banner03{width: 100%; height: 167px; background: url(../images/banner03.jpg) no-repeat center top;}
.banner04{width: 100%; height: 127px; background: url(../images/banner04.jpg) no-repeat center top;}
.banner05{width: 100%; height: 196px; background: url(../images/banner05.jpg) no-repeat center top;}
.banner-main{width: 1000px; margin: 0 auto; position: relative;}
.banner-bth{width: 190px; height: 60px; position: absolute; top: 25px; left: 80px;}
.banner-bth a{width: 190px; height: 60px; display: block; background: url(../images/icon.png) no-repeat; background-position:0 0; text-indent: -99999em;}
.banner-bth a:hover{background-position:-191px 0;}


#column{width: 100%; height: 60px; background: #159e8f; z-index: 100; top: 0; left: 0; _position:absolute; _top:expression(offsetParent.scrollTop); _left:expression(offsetParent.scrollLeft); }
.column{width: 1000px; height: 60px; margin: 0 auto;}
.column li{line-height: 60px; float: left; font-size: 24px;}
.column li a{height: 60px; padding: 0 30px; color: #fff; display: block;}
.column li a:hover{background: #3bc9ba; text-decoration: none;}
#column li a.current{height: 60px; padding: 0 30px; color: #fff; display: block;background: #3bc9ba;}

.title{width: 1000px; margin: 60px auto 0 auto; text-align: center;}
.title-zh{font-size: 60px; font-weight: bold; color: #22afa0;}
.title-en{font-size: 26px; color: #22afa0; text-transform: uppercase; line-height: 32px;}

.eyeType{width: 1194px; height: 188px; background: url(../images/pic01.jpg) no-repeat 95px 0px; padding-top: 217px; margin: 60px auto 0 auto;}
.eyeType_info{width: 220px; padding: 0 15px; float: left; text-align: center;}
.eyeType_info span{font-size: 30px; font-weight: bold; color: #000;}
.eyeType_info p{font-size: 14px; color: #666;}

.withBox{width: 100%; background: #22afa0; overflow: hidden;}
.Strength{width: 990px; padding-left: 10px; margin-top: 60px;}
.StrengthBox{width: 165px; float: left;}
.StrengthText{width: 165px; font-size: 18px; color: #fff; text-align: center; margin-top: 10px;}
.circle{width: 146px; height: 145px; background:#fff; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: url(../images/circle.jpg) no-repeat \9; position: relative; margin: 0 auto;}
.circle-icon{width: 58px; height: 58px; position: absolute; top: 36px; left: 47px;}
.icon-c, .icon-d, .icon-e, .icon-a{width: 58px; height: 58px; background: url(../images/icon.png) no-repeat;}
.icon-c{background-position:0 -60px;}
.icon-d{background-position:-59px -60px;}
.icon-e{background-position:-118px -60px;}
.icon-a{background-position:-177px -60px;}
.circle-text{width: 146px; position: absolute; top: 95px; font-size: 18px; color: #22afa0; text-align: center; text-transform: capitalize;}
.plus{font-size: 36px; color: #fff; float: left; margin: 50px 40px;}
.StrengthBth a{width: 220px; height: 60px; background: url(../images/icon.png) no-repeat; background-position: 0 -118px; margin: 60px auto; display: block; text-indent: -99999em;}
.StrengthBth a:hover{background-position: 0 -178px;}


.method{width: 1000px; border-bottom: #22afa0 2px solid; margin-top: 20px;}
.method-title{width: 1000px; height: 70px; background: #22afa0; color: #fff;}
.method-No{float: left; font-family: 黑体; font-size: 74px; line-height: 70px; font-weight: bold; margin-left: 10px;}
.method-name{float: left; margin: 5px 0 0 10px;}
.method-name span {font-size: 30px; font-weight: bold;}
.method-name p {font-size: 14px; text-transform: uppercase; line-height: 18px;}
.method-bth{width: 210px; height: 50px;border: #fff 1px solid; float: right; margin: 11px 10px 0 0; position: relative; z-index: 1; cursor: pointer;}
.method-bj{width: 0; height: 50px; background: #dd5e53; position: absolute; top: 0; left: 0; z-index: 0;}
.method-bth a{width: 200px; height: 50px; padding-left: 10px; line-height: 50px; color: #fff; font-size: 30px;  background-position:-235px -64px;  display: block; position: relative; z-index: 1;}
.method-Arrow{width:42px; height:24px; background:url(../images/icon.png) no-repeat; background-position:-358px -78px; position: absolute; right: 20px; top: 13px; z-index: 1;}
.methodBox{width: 1000px; margin: 0 auto;}
.method-info{width: 546px; height: 671px; float: left;}
.method-img{width: 454px; height: 671px; float: left;}
.method-text{width: 530px; height: 146px; margin: 20px 0 20px 0; font-size: 14px; line-height: 24px;}
.method-js{width: 546px; height: 100px;}
.method-jsBox{width: 164px; height: 79px; padding-top: 20px; text-align: center; border: #c0c0c0 1px solid !important; -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius: 10px; float: left; margin-right: 20px;}
.method-jsBox p{font-size: 30px; font-weight: bold; color: #dd5e53;}
.method-db{width: 546px; height: 365px; margin-top: 20px;}
.method-contrast{width: 265px; height: 365px; float: left; margin-right: 6px; position: relative;}
.method-Label{width: 30px; height: 30px; font-size: 14px; color: #fff; line-height: 30px; text-align: center; background: #22afa0; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: url(../images/icon.png) no-repeat \9; background-position:-242px -74px; position: absolute; top: 10px; left: 10px;}

#expert{width: 100%; border-top: #22afa0 1px solid; margin-top: 60px;}
.expert{widows: 1000px; height: 739px; margin: 20px auto 0 auto; overflow: hidden; position: relative;}
.expert li{width: 1000px; height: 739px; overflow:hidden; position:relative;}

.slide_x{overflow:hidden;position:relative;margin:30px auto;width:1000px;height:739px;}
.slide_x .box{overflow:hidden;position:relative;width:1000px;height:739px;}
.slide_x .list{overflow:hidden;width:9999px;}
.slide_x .list li{float:left;position:relative;width:1000px;}
.slide_x .list img{vertical-align:top;}
.slide_x .minus,
.slide_x .plus{position:absolute;width:49px;height:49px;background:url(../images/icon.png) no-repeat; text-align:center;cursor:pointer;}
.slide_x .minus{top:670px;right:100px;background-position:-182px -245px;}
.slide_x .plus{top:620px; right:0;background-position:-253px -245px;}


.Qa01{width: 546px; height: 132px; background: url(../images/qa01.jpg) no-repeat;}
.Qa02{width: 1000px; height: 153px; background: url(../images/qa02.jpg) no-repeat;}
.Qa03{width: 1000px; height: 154px; background: url(../images/qa03.jpg) no-repeat;}
.Qa04{width: 1000px; height: 154px; background: url(../images/qa04.jpg) no-repeat;}
.Qa05{width: 1000px; height: 154px; background: url(../images/qa05.jpg) no-repeat;}
.QaBth a{width: 265px; height: 45px; border: #fff 1px solid; font-size: 18px; color: #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; line-height: 45px; text-align: center; display: block; margin: 5px auto 40px auto;}
.QaBth a:hover{background: #dd5e53;}

.zx01{width: 1000px; height: 301px; background: url(../images/zx01.jpg) no-repeat; margin-top: 50px;}
.zx02{width: 1000px; height: 299px; background: url(../images/zx02.jpg) no-repeat;}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}

@-webkit-keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-o-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity: 0;
	}