{template "content","header"}

<div id="Info_banner" class="I_banner04"></div>
<div class="position">
	<div class="position_main"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 列表</div>
</div>

<div class="inside clearfix">
	<div class="inside_left">
    	<p class="inside_title">{$catname}</p>
        <div class="video_BOX">
            <div style="width:657px;">
{pc:content action="lists" catid="$catid" num="21" order="id DESC" page="$page"}
{loop $data $r}
            	<div class="video_top_box">
                    <a href="{$r[url]}" target="_blank"><img src="{thumb($r[thumb],199,128,1)}" width="199" height="128" alt="{$r[title]}" /></a>
                    <div class="video_top_tit">{$r[title]}</div>
                </div>
{/loop}
{/pc}
            </div>
        </div>
        
        <!--<div class="digg"><a href="#">《上一页</a> </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a><a href="#?page=2">下一页》</a></div>-->
        
        <div class="inside_contact"><div class="inside_contactBth"><a href="/swt/">点击咨询</a></div></div>
    </div>
    
{template "content","inside_right"}

</div>

{template "content","footer"}

</body>
</html>
