{template "content","header"}

<div id="Info_banner" class="I_banner01"></div>
<div class="position">
	<div class="position_main"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 正文</div>
</div>

<div class="main clearfix">
	<div class="inside_sub">
    	<div class="inside_subnav">
        	<div class="inside_navtitle"><p class="inside_title_Ch">品牌中心</p><p class="inside_title_Ko">메 인 화면</p></div>
            <div class="inside_nav">
            	<ul>
{loop subcat(1) $v}
                	<li{if $catid==$v[catid]}  class="on"}{/if}><a href="{$CATEGORYS[$v[catid]][url]}">{$CATEGORYS[$v[catid]][catname]}</a></li>
{/loop}
            	</ul>
            </div>
            <div class="inside_SUBconsult">
            	<p>美丽热线</p>
                <p class="font_22">027-87866888</p>
                <p class="m_b15">门诊时间 8:00-21:00</p>
                <div class="consultBth"><a href="/swt/">在线咨询</a></div>
            </div>
        </div>
        <div class="inside_subBOX"></div>
    </div>
    <div class="inside_main">
    	<p class="inside_rightTit">{$title}</p>
        <div class="inside_info">
            {$content}
        </div>
        <div class="inside_contact"><div class="inside_contactBth"><a href="/swt/">点击咨询</a></div></div>
    </div>
</div>

{template "content","footer"}

</body>
</html>
