{template "content","header"}

<div id="Info_banner" class="I_banner03"></div>
<div class="position">
	<div class="position_main"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 列表</div>
</div>

<div class="inside clearfix">
	<div class="inside_left">
    	<p class="inside_title">共找到符合条件的结果 <strong class="red">{$total}</strong> 条</p>
{loop $datas $r}
        <div class="yiqi clearfix">
        	<div class="yiqi_img"><a href="{$r[url]}" target="_blank"><img src="{thumb($r[thumb],190,112,1)}" width="190" height="112" alt="{$r[title]}" /></a></div>
            <div class="yiqi_text">
            	<p class="yiqi_title">{$r[title]}</p>
                <p class="text_em">{$r[description]}<a href="{$r[url]}" target="_blank" class="text_a">[详情]</a>
                </p>
            </div>
        </div>
{/loop}
        <!--<div class="digg"><a href="#">《上一页</a> </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a><a href="#?page=2">下一页》</a></div>-->
        
        <div class="inside_contact"><div class="inside_contactBth"><a href="/swt/">点击咨询</a></div></div>
    </div>

{template "content","inside_right"}

</div>

{template "content","footer"}

</body>
</html>
